*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Cabecera */
.header{
    width: 100%;
    height: 500px;
    background: url(img/fondo3.png) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 30px 0 0;
}
nav > a{
    color: #f8dc81;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    margin-right: 15px;
    transition: 1s ease;
}
nav > a:hover{
    text-decoration: underline;
    font-size: 40px;
    transition: 1s ease;
}
.wave{
    position: absolute;
    bottom: 0%;
    width: 100%;
}
.cabecera{
    display: flex;
}
.img-header{
    width: 17%;
    margin-left: 12%;
    margin-top: 1%;
    -webkit-transition-duration: 1s;
}
.img-header:hover{
    width: 19%;
    margin-left: 12%;
    margin-top: 1%;
    -webkit-transition-duration: 1s;
}
.img-header > img{
    width: 100%;
    height: 100%;
}
.letras{
    text-align: center;
    margin-left: 10%;
}
.letras > h1{
    text-align: center;
    margin-top: 20%;
    color: #fff;
    font-size: 60px;
    -webkit-transition-duration: 1s ;
}
.letras > h1:hover{
    color:#f8dc81;
    -webkit-transform: rotate(360deg);
}



/*Formulario*/
.contacta{
    background-color: #1d1d1d;
    display: flex;
}
.imgcontacta{
    margin-right: 10%;
    width: 18%;
    margin-bottom: 3%;
}
.imgcontacta > img{
    width: 100%;
    height: 100%;
}
.textcontacta{
    width: 70%;
    margin-left: 5%;
}
.textcontacta > h3{
    text-align: center;
    padding-bottom: 4%;
    font-size: 30px;
    color: #f59622;
    -webkit-transition-duration: 2s  ;
}
.textcontacta > h3:hover{
    text-decoration: underline;
    font-size: 40px;
    color: #f59622;
    -webkit-transition-duration: 2s  ;
}

.textcontacta > form{
    padding-right: 10%;
    padding-left: 10%;
    color: #fff;
    font-size: 20px;
    -webkit-transition-duration: 1s ;
}
.textcontacta > p:hover{
    padding-right: 5%;
    padding-left: 0%;
    font-size: 25px;
}

/* Redes */
.redes{
    background-color: #048b92;
    padding-top: 1%;
    padding-bottom: 2%;
}
.redes > h2{
    text-align: center;
    padding-bottom: 2%;
    font-size: 30px;
    color: #f59622;
    -webkit-transition-duration: 2s  ;
}
.redes > h2:hover{
    text-decoration: underline;
    font-size: 40px;
    color: #f59622;
    -webkit-transition-duration: 2s  ;

}
.sociales{
    display: flex;
    
}
.sociales > div{
    display: flex;
    width: 60%;
    width: 20%;
    margin-left: 20%;
   
}
.sociales > div > img{
    width: 50%;
    padding: 5% 5% 5% 5%;   
}
.nombrered> a{
    color: #fff;
}
.nombrered{
    font-size: 30px;
    text-align: center;
    padding-top: 12%;
    color: #fff;
}



/* Footer */
footer{
    background-color: #cdc9c3;
    text-align: center;
}